name: Release

on:
  workflow_call:
    inputs:
      commit_changelog:
        required: false
        type: boolean
        default: true
      update_wiki:
        required: false
        type: boolean
        default: false
    secrets:
      NEW_RELIC_API_KEY:
        required: true
      NEW_RELIC_DEPLOYMENT_ENTITY_GUID:
        required: true

permissions: write-all

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
        with:
          fetch-depth: 0
      # Create git tag from timestamp YYYY-MM-DDTHH:MM:SS
      - name: Get current date and time
        id: datetime
        run: echo "TAG_NAME=$(date +'%Y-%m-%dT%H.%M.%S')" >> "$GITHUB_OUTPUT"
      - name: Create and push tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: ${{ steps.datetime.outputs.TAG_NAME }}
          message: "Release ${{ steps.datetime.outputs.TAG_NAME }}"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force_push_tag: true
      - name: Get latest tag
        id: get_latest_tag
        uses: actions-ecosystem/action-get-latest-tag@v1
        with:
          semver_only: false
      - name: Get second latest tag
        id: get_second_latest_tag
        run: |
          SECOND_LATEST_TAG=$(git for-each-ref --sort=-taggerdate --format '%(refname:short)' refs/tags | sed -n 2p)
          echo "second_latest_tag=$SECOND_LATEST_TAG" >> "$GITHUB_OUTPUT"
      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          fromTag: ${{ steps.get_latest_tag.outputs.tag }}
          toTag: ${{ steps.get_second_latest_tag.outputs.second_latest_tag }}
          writeToFile: true
          includeInvalidCommits: true
          excludeTypes: build,
          reverseOrder: true
      - name: Create Release
        uses: ncipollo/release-action@v1.12.0
        with:
          allowUpdates: true
          draft: false
          makeLatest: true
          name: ${{ steps.get_latest_tag.outputs.tag }}
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.get_latest_tag.outputs.tag }}
      - name: Commit CHANGELOG.md
        if: ${{ inputs.commit_changelog }} 
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: preprod
          commit_options: '--no-verify --force'
          commit_message: 'docs: update CHANGELOG.md for ${{ steps.get_latest_tag.outputs.tag }} [skip ci]'
          file_pattern: CHANGELOG.md

      - name: Update Wiki
        if: ${{ inputs.update_wiki }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR_NUMBER=$(git log ${{ github.sha }} --grep='Merge pull request' --pretty=format:'%s' -1 | grep -o '#[0-9]\+')
          PR_URL="[${{ github.repository }}#${PR_NUMBER:1}](https://github.com/${{ github.repository }}/pull/${PR_NUMBER:1})"

          # Note: This will only run on production so no need for conditional.
          DATE=$(date '+%-d %B %Y')
          MESSAGE="\r***\n**$DATE**"

          CL_ENTRY="$MESSAGE $PR_URL\n"

          # Note: Need to use HTTPS to access in GH Actions. Also use dynamic
          # repository path to allow for forked repo usage.
          git clone https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.wiki.git $(basename ${{ github.repository }}).wiki
          cd $(basename ${{ github.repository }}).wiki
          git config user.name "GitHub Actions"
          git config user.email "dmg-github@dmgmedia.co.uk"
          echo -e "$CL_ENTRY$(cat Change-Log.md)" > Change-Log.md
          git add .
          git commit -m "Updated Change-Log.md"
          git push

      - name: Get current timestamp in milliseconds for deployment marker
        id: timestamp
        run: echo "NOW_MS=$(date +%s%3N)" >> $GITHUB_OUTPUT
      - name: Set New Relic deployment marker
        uses: newrelic/deployment-marker-action@v2.6.1
        with:
          apiKey: ${{ secrets.NEW_RELIC_API_KEY }}
          region: "US"
          guid: ${{ secrets.NEW_RELIC_DEPLOYMENT_ENTITY_GUID }}
          version: "${{ steps.get_latest_tag.outputs.tag }}"
          changelog: "https://github.com/${{ github.repository }}/blob/preprod/CHANGELOG.md"
          description: "Automated Release via Github Actions"
          user: "${{ github.actor }}"
          timestamp: "${{ steps.timestamp.outputs.NOW_MS }}"
